/* general */
* {
  box-sizing: border-box;
}

/* navigation physics */
nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  max-height: 6rem;
  justify-content: space-between;
  background: black;
  z-index: 1000;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  max-width: 75vw;
}

.menu {
  height: fit-content;
  display: contents;
}

.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.menu > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu > ul:after {
  display: block;
  content: "";
  clear: both;
}

.menu > ul > li {
  float: left;
  position: relative;
}

#menu-toggle {
  display: none;
}

#sub-menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
}

.menu > ul > li > ul > li > a {
  padding: 10px 10px;
  text-align: left;
  text-transform: none;
  display: block;
  font-size: 0.8em;
  height: 100%;
}

.dropdown-container ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  display: none;
}

.guzik-menu {
  display: flex;
  transition: 0.5s;
  background-size: 200% auto;
  background-position: right;
  color: white;
  text-transform: uppercase;
}

.guzik-menu > a {
  color: white;
  width: 100%;
}

.sub-menu-button {
  background: transparent;
  border: none;
  float: right;
  width: 3em;
  font-size: xx-large;
  color: white;
  padding: 0;
}

#sub-menu-toggle:checked + .dropdown-container .sub-menu-button {
  transform: rotate(180deg);
}

.sub-menu-button {
  display: inline-grid;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

@media (min-width: 1201px) {
  .menu > ul > li > a {
    border-radius: 4px;
  }

  .menu > ul > li {
    width: 9em;
    text-align: center;
  }

  .dropdown-container > div {
    border-radius: 4px;
  }

  .dropdown-container:hover > div {
    border-radius: 4px 4px 0 0;
  }

  .dropdown-container:hover > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-container:hover li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .sub-menu-button {
    display: none;
  }

  .dropdown-container:hover > ul {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 1200px) {
  /* Hidden mobile menu button */
  .menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
  }

  #menu-toggle ~ .menu li {
    display: none;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    display: inline-table;
    height: 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* end of menu button */
  nav {
    height: 5rem;
  }

  .menu {
    display: block;
    position: fixed;
    top: 5rem;
    right: 0;
    width: 25rem;
    float: right;
    background-color: #000000;
    max-height: calc(100% - 5rem);
    overflow: auto;
  }

  .menu > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
  }

  .dropdown-container > ul {
    margin-top: 1px;
  }

  .menu > ul > li {
    width: 100%;
    height: 100%;
  }

  #sub-menu-toggle:checked ~ .dropdown-container > ul {
    width: 100%;
    display: flex;
    gap: 1px;
    position: initial;
    flex-direction: column;
  }

  #sub-menu-toggle:checked ~ .dropdown-container > ul > li > a {
    padding-left: 3em;
  }
}

@media (max-width: 500px) {
  nav {
    height: 4rem;
  }

  .menu-button-container {
    padding: 1rem 2rem;
  }

  .menu {
    top: 4rem;
    width: 100%;
  }

  .menu a {
    padding: 1rem 1.5rem;
  }
}
