@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
    src: url("./misc/PermamentMarker.woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.bee-page-container {
  background-image: url("./grafiki_na_stronę/sand_background_b.jpg");
  background-position: top;
  background-size: auto;
  background-repeat: repeat-y;
    margin-top: 4rem;
}

.guzik-tytul {
  /* CSS dla ustalenia marginesów wewnętrznych nagłówków */
  padding: 10px 0;
}

.guzik-szeroki {
  /* CSS ustawiający szerokość guzika w miejscach gdzie jest zbyt wąski */
  width: 50%;
}

.guzik-wypełnij {
    width: 100%;
}

.guzik-niewiem {
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0.5rem;
  width: calc(100% - 1rem);
}

.pozostale-guziki {
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
  }

.guzik-szary {
  /* CSS dla guzików na stronach "manga" i wszystkich jej podstronach z tytułami */
  background-image: linear-gradient(
    to right,
    #222222 0%,
    #434343 51%,
    #191919 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  background-position: right;
  color: white;
}

.guzik-szary:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.guzik-dziecko-szary {
  /* CSS dla pozycji na liście rozwijanej po kliknięciu przycisku "menu" */
  background-image: linear-gradient( to right, #222222 0%, #434343 51%, #191919 100%
  );
  color: #fff;
  background-position: left center;
  background-size: 200% auto;
}

.guzik-dziecko-szary:hover {
  background-image: linear-gradient(to right, #202020 0%, #343434 51%, #1e1e1e 100%
  );
  background-position: left center;
}

.guzik-fioletowy {
  /* CSS dla guzików na stronie "grafika" */
  background-image: linear-gradient(to right,#4b3599 0%,#7675d7 51%,#4b3599 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  background-position: right;
  color: white;
}

.guzik-niewiem:hover {
    background-position: center left;
  }

.guzik-dziecko-fiolet {
  background-image: linear-gradient(
    to right,
    #4b3599 0%,
    #7675d7 51%,
    #4b3599 100%
  );
  background-position: left center;
}

.guzik-dziecko-fiolet:hover {
  background-image: linear-gradient(
    to right,
    #392874 0%,
    #5f5eac 51%,
    #3a2751 100%
  );
  background-position: left center;
}

.guzik-niebieski {
    /* CSS dla guzików na stronie "grafika" */
    background-image: linear-gradient(
        to right,
        #3a5581 0%,
        #7e9ae8 51%,
        #3a5581 100%
    );
    transition: 0.5s;
    background-size: 200% auto;
    background-position: right;
    color: white;
  }

  .guzik-dziecko-niebieski {
    background-image: linear-gradient(
        to right,
        #3a5581 0%,
        #7e9ae8 51%,
        #3a5581 100%
    );
    background-position: left center;
  }

  .guzik-dziecko-niebieski:hover {
    background-image: linear-gradient(
        to right,
        #2a3d5c 0%,
        rgb(105, 128, 192) 51%,
        #2b3f5f 100%
    );
    background-position: left center;
  }

  .guzik-pomaranczowy {
    /* CSS dla guzików na stronie "grafika" */
    background-image: linear-gradient(
        to right,
        #d0520e 0%,
        #d17f0b 51%,
        #d0520e 100%
      );
    transition: 0.5s;
    background-size: 200% auto;
    background-position: right;
    color: white;
  }

  .guzik-dziecko-pomaranczowy {
    background-image: linear-gradient(
        to right,
        #d0520e 0%,
        #d17f0b 51%,
        #d0520e 100%
      );
    background-position: left center;
  }

  .guzik-dziecko-pomaranczowy:hover {
    background-image: linear-gradient(
        to right,
        #b6480d 0%,
        #b76f0a 51%,
        #b9490d 100%
      );
    background-position: left center;
  }